 
<h1 style='visibility:hidden;'> asasasasasasasa</h1>
 <div id="about_button_container">
    <button type="button" id="about_button">Readme </button>
  </div>
  <div id='calendar'></div>
  <div id="event_edit_container">
    <form action='amit'>
      <input type="hidden" />
      <ul>
	<li>
	  <span>Date: </span><span class="date_holder"></span> 
	</li>
	<li>
	  <label for="start">Start Time: </label><select name="start"><option value="">Select Start Time</option></select>
	</li>
	<li>
	  <label for="end">End Time: </label><select name="end"><option value="">Select End Time</option></select>
	</li>
	<li>
	  <label for="title">Title: </label><input type="text" name="title" />
	</li>
	<li>
	  <label for="body">Body: </label><textarea name="body"></textarea>
	</li>
      </ul>
      </form>
  </div>
  <div id="about">
    <h2>Summary</h2>
    <p>Amit Agarwal(amitdotagarwal@gmail.com)
    </p>
  </div>


<script>
$("<div id=\"message\" class=\"ui-corner-all\"></div>").prependTo($("body"));

</script>


