<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

  <link rel='stylesheet' type='text/css' href='/stylesheets/reset.css' />
  <link rel='stylesheet' type='text/css' href='/stylesheets/jquery-ui.css' />
  <link rel='stylesheet' type='text/css' href='/stylesheets/jquery.weekcalendar.css' />
  <link rel='stylesheet' type='text/css' href='/stylesheets/demo.css' />
  
  <script type='text/javascript' src='/javascripts/jquery.js'></script>
  <script type='text/javascript' src='/javascripts/jquery-ui.min.js'></script>
  <script type='text/javascript' src='/javascripts/jquery.weekcalendar.js'></script>
  <script type='text/javascript' src='/javascripts/custom.js'></script>
<style type='text/css'>

  body {
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  margin: 0;
  }
  
  h1 {
  margin: 0;
  padding: 0.5em;
  }
  
  #message {
  font-size: 0.7em;
  position: absolute;
  top: 1em; 
  right: 22em;
  width: 350px;
  display: none;
  padding: 1em;
  background: #ffc;
  border: 1px solid #dda;
  }
  
</style>
</head>
<body> 
<%= yield%>

  
</body>
</html>
